<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.3.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="com.demo"/>
	<bean id="globalFilter" class="com.demo.filter.GlobalFilter"/>
    <!-- 统一异常处理中心 用于捕获程序中一楼未捕获的异常-->
    <bean id="exceptionHandler" class="com.demo.common.GlobalExceptionResolver" />

	<import resource="consumer.xml"/>
</beans>
